<ion-tabs>
  <ion-tab-bar mode="ios" slot="bottom">
    <ion-tab-button tab="home" layout="icon-top">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="post/add" layout="icon-top">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Create Post</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" layout="icon-top">
     <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

